{:paths ["src" "target/classes"]

 :deps  {#_#_org.clojure/clojure       {:mvn/version "1.12.4"}
         #_#_org.clojure/clojurescript {:mvn/version "1.12.134"}}

 :aliases
 {:dev         {:extra-paths ["dev"]
                :extra-deps  {nrepl/nrepl         {:mvn/version "1.5.1"}
                              criterium/criterium {:mvn/version "0.4.6"}}
                :jvm-opts    ["-Xmx8g"
                              "-Xss8m"
                              "-XX:+UnlockExperimentalVMOptions"
                              "-XX:CompileCommand=blackhole,criterium.blackhole.Blackhole::consume"]}

  :test        {:extra-paths ["test"]
                :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "3.3.4"}}}

  :build       {:ns-default build
                :deps       {io.github.clojure/tools.build {:mvn/version "0.10.11"}
                             slipset/deps-deploy           {:mvn/version "0.2.2"}}}

  :cljdoc      {:extra-deps {io.github.cljdoc/cljdoc-analyzer {:git/tag "v1.0.861" :git/sha "9f6bc3f"}}
                :main-opts  ["-m" "cljdoc-analyzer.cljdoc-main"]}}}